<p>
  <%= link_to 'Edit', edit_user_path(@user) %> | <%= link_to 'Back', users_path %> | <%= link_to 'New micropost', new_micropost_path %>
</p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.microposts.any? %>
  <h2>Last micropost</h2>

  <p>
    <%= simple_format(@user.microposts.last.content) %>
  </p>
<% end %>