<p>
  <%= link_to 'Back', microposts_path %> | <%= link_to 'Edit', edit_micropost_path(@micropost) %> | <%= link_to 'Users', users_path %>
</p>

<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @micropost.user_id %>
</p>
